<h1>Stock Market App</h1>
<h1 *ngIf="httpErr" id="httpErr">{{httpErr}}</h1>
<section *ngIf="!httpErr">
    <chart type="StockChart" [options]="options"></chart>
    <div id="loading" *ngIf="loading">
        <h3>Loading stocks...<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></h3>
    </div>
    <div id="main" class="row">
        <div class="col-sm-3 cont" *ngFor="let obj of names">
            <div class="a">
                <div class="b"></div>
                <h3>{{obj.name}}</h3>
                <p id="price">Current price: <b>${{obj.price}}</b></p>
                <span id="delete" (click)="delete(obj.name)">x</span>
            </div>
        </div>
        <div class="col-sm-3 cont">
            <div class="a">
                <div class="b"></div>
                <input-elem (onClick)="onNewStock($event)"></input-elem>
            </div>
        </div>
    </div>
</section>