html, body {
    height: 100%;
}
#loading {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align:center;
    margin-left: -16px;
}
#loading p{
    margin-top: 15px;
}
